*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    min-height: 100vh;
    justify-self: center;
    align-self: center;
    gap: 20px;
}
.boardOne{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,50px);
    align-self: center;
}
.boardTwo{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr); 
    grid-template-rows: repeat(10,50px);
    align-self: center;
}
.grids{
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-items: center;
}
.winner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 3px solid black;
    padding: 40px 70px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    z-index: 9999;
}
.restart{
    font-size: 20px;
    border: 2px solid rgb(57, 211, 57);
    background-color: green;
    color: rgb(206, 240, 197);
}